# Environments
.env
.venv
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# Docker
# (.dockerignore should be committed, not ignored)

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Local database
*.db
*.sqlite3